.maroon{
    background-color: maroon;
    color: white;
}
.green {
    background-color: forestgreen;
    color: white;
}
.red {
    background-color: darkorange;
    color: white;
}
.yellow {
    background-color: yellow;
    color: white;
}