body {
    padding-top: 70px;
}

.maroon {
    width: 80px;
    background-color: maroon;
    color: white;
}

.green {
    width: 80px;
    background-color: forestgreen;
    color: white;
}

.red {
    width: 80px;
    background-color: darkorange;
    color: white;
}

.yellow {
    width: 80px;
    background-color: yellow;
    color: white;
}

.dct-header-btn {
    display: inline-block;
}

.btn-header {
    float: right;
    margin-top: 20px;
}

.hideANDseek {
    display: none;
}

