.maroon{
    width: 80px;
    background-color: maroon;
    color: white;
}
.green {
    width: 80px;
    background-color: forestgreen;
    color: white;
}
.red {
    width: 80px;
    background-color: darkorange;
    color: white;
}
.yellow {
    width: 80px;
    background-color: yellow;
    color: white;
}
.hideANDseek
{
    display: none;
}