<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Preview user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/all.css" th:href="@{/css/all.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header(edit)"></div>
<div class="container">
    <div class="page-header">
        <h2>Preview user</h2>
    </div>
    <table class="table table-striped">
        <tr>
            <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span><b>&nbsp;Username:</b></td>
            <td><div th:text="${user.username}"></div></td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><b>&nbsp;Words for repetition:</b></td>
            <td><div th:text="${user.words}"></div></td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-bell" aria-hidden="true"></span><b>&nbsp;Period of repetition:</b></td>
            <td><div th:text="${user.repetition_period}"></div></td>
        </tr>
    </table>
</div>
</body>
</html>